<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Craving</title>
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">



    <!--CSS-->
    <link rel="stylesheet" href="index.css">

<!--CSS-->
<link rel="stylesheet" type="text/css" href="css/index.css"/>
<link rel="stylesheet" type="text/css" href="css/style.css"/>
<link rel="stylesheet" type="text/css" href="css/font-awesome.css"/>
<link rel="stylesheet" type="text/css" href="css/animate.css">
<link rel="stylesheet" type="text/css" href="css/responsive.css"/>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="css/bootstrap.min.css">
<!-- Site CSS -->
<link rel="stylesheet" href="css/style0.css">
<!-- Responsive CSS -->
<link rel="stylesheet" href="css/responsive0.css">



  </head>
  <div class="container">
  <div class="row clearfix" id="home">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="logo">
        <h1> <a href="#"><img src="images/logofinal.png" alt="" /></a> </h1>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="contact">
        <p>Questions? Call us Toll-free!<span class="number"><a href="#">1800-0000-7777</a></span><span class="time">(11AM to 11PM)</span></p>
      </div>
    </div>
  </div>
</div>
</header>

<section class="saction1">
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="menu">
        <div class="mobile-nav-container"> </div>
        <div class="mobile-nav-btn"><img class="nav-open" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/6214/nav-open.png" alt="Nav Button Open" /> <img class="nav-close" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/6214/nav-close.png" alt="Nav Button Close" /> </div>
        <nav>
          <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#resturant">Popular Restaurants </a></li>
            <li class="nav-item"><a  href="/menu">Menu</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </nav>
      </div>

      <div class="login">
        <ul>
          <li><a href="/register">Register</a></li>
          <li><a href="/login">Login</a></li>

          <li><a href="#">Help</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</section>

<section class="backgraound">
  <div class="container" >
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="back">
          <div class="line1 os-animation" data-os-animation="rotateInDownLeft" data-os-animation-delay="1s"> </div>
          <div class="line2 os-animation" data-os-animation="rotateInDownLeft" data-os-animation-delay="1s"> </div>
          <h2 class="os-animation" data-os-animation="zoomIn" data-os-animation-delay="0.50s">Network of over 5000 Restaurants</h2>
          <h3 class="os-animation" data-os-animation="zoomIn" data-os-animation-delay="1s">To Order Online</h3>
          <div class="line3 os-animation" data-os-animation="rotateInDownRight" data-os-animation-delay="1s"> </div>
          <div class="line4 os-animation" data-os-animation="rotateInDownRight" data-os-animation-delay="1s"> </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="textbox os-animation" data-os-animation="zoomIn" data-os-animation-delay="0.5s">
        <h3>Location Name</h3>
        <input type="text" placeholder="Toronto" />
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="textbox os-animation" data-os-animation="zoomIn" data-os-animation-delay="0.5s">
        <h3>Restaurant Name</h3>
        <input type="text" placeholder="Minami Toronto" />
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="textbox1 os-animation" data-os-animation="zoomIn" data-os-animation-delay="0.5s">
        <h3>Cuisine Name</h3>
        <input type="text" placeholder="Salmon Bento" />
        <span class="search"><a href="#"><i class="fa fa-search"></i></a></span> </div>
    </div>
  </div>
</section>
<section class="saction3">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="ordaring">
          <h2 class="os-animation" data-os-animation="zoomIn" data-os-animation-delay="0.50s">Ordering food was never so easy</h2>
          <div class="dotted os-animation" data-os-animation="bounceInLeft" data-os-animation-delay="1s"></div>
          <p class="os-animation" data-os-animation="zoomIn" data-os-animation-delay="0.50s">Just 4 step follow</p>
          <div class="dotted1 os-animation" data-os-animation="bounceInRight" data-os-animation-delay="1s"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6">
        <figure class="step os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0.50s"> <img src="images/one.png" alt="" /> </figure>
        <div class="arrow" > <img src="images/arrow.png" alt="" /> </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6">
        <figure class="step os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="1.5s"> <img src="images/two.png" alt="" /> </figure>
        <div class="arrow1 "> <img src="images/arrow.png" alt="" /> </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6">
        <figure class="step os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="2.5s"> <img src="images/thrww.png" alt="" /> </figure>
        <div class="arrow"> <img src="images/arrow.png" alt="" /> </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6">
        <figure class="step1 os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="3.5s"> <img src="images/four.png" alt="" /> </figure>
      </div>
    </div>
  </div>
</section>
<section class="saction4">
  <div class="container" id="offer">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="dotted3 os-animation" data-os-animation="bounceInLeft" data-os-animation-delay="1s"></div>
        <div class="special">
          <h2 class="os-animation" data-os-animation="bounceInDown" data-os-animation-delay="0.50s">Special Dishes</h2>
          <div class="dotted4 os-animation" data-os-animation="bounceInRight" data-os-animation-delay="1s"></div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="slider clearfix os-animation" data-os-animation="fadeInDown
" data-os-animation-delay="0.20s">
        <div class="img clearfix"> <img src="images/002.png" alt=""/> </div>
        <div class="title clearfix">
          <h3>Olister Combo<br/>
            pack lorem</h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
          <a href="#">$6.6 &#10152;</a> </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="slider clearfix os-animation" data-os-animation="fadeInDown
" data-os-animation-delay="0.50s">
        <div class="img"> <img src="images/003.png" alt=""/> </div>
        <div class="title">
          <h3>Olister Combo<br/>
            pack lorem</h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
          <a href="#">$13 &#10152;</a> </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="slider clearfix os-animation" data-os-animation="fadeInDown
" data-os-animation-delay="1s">
        <div class="img"> <img src="images/oo1.png" alt=""/> </div>
        <div class="title">
          <h3>Olister Combo<br/>
            pack lorem</h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
          <a href="#">$10 &#10152;</a> </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="slider clearfix os-animation" data-os-animation="fadeInDown
" data-os-animation-delay="1s">
        <div class="img"> <img src="images/oo1.png" alt=""/> </div>
        <div class="title">
          <h3>Olister Combo<br/>
            pack lorem</h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
          <a href="#">$8 &#10152;</a> </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4">
    <div class="slider clearfix os-animation" data-os-animation="fadeInDown
" data-os-animation-delay="0.50s">
      <div class="img"> <img src="images/003.png" alt=""/> </div>
      <div class="title">
        <h3>Olister Combo<br/>
          pack lorem</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
        <a href="#">$12 &#10152;</a> </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4">
    <div class="slider clearfix os-animation" data-os-animation="fadeInDown
" data-os-animation-delay="0.50s">
      <div class="img"> <img src="images/003.png" alt=""/> </div>
      <div class="title">
        <h3>Olister Combo<br/>
          pack lorem</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
        <a href="#">$9.9 &#10152;</a> </div>
    </div>
  </div>

</section>
<section class="saction5">
  <div class="container" id="resturant">
    <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="restaurants">
        <h3 class="os-animation" data-os-animation="rollIn" data-os-animation-delay="1s">Top Restaurant </h3>
      </div>
      <div class="dotted6 os-animation" data-os-animation="bounceInRight" data-os-animation-delay="0.50s"></div>
      <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-8 col-xs-6">
          <figure class="rest os-animation" data-os-animation="fadeInDown" data-os-animation-delay="1s"> <a href="#"><img src="images/pizzhut.png" alt=""/> </a> </figure>
        </div>
        <div class="col-lg-6 col-md-8 col-sm-8 col-xs-6">
          <figure class="rest os-animation" data-os-animation="fadeInDown" data-os-animation-delay="1.2s"> <a href="#"> <img src="images/SUB.png" alt="" /></a></figure>
        </div>
      </div>
      <!--row-->

      <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-8 col-xs-6" >
          <figure class="rest os-animation" data-os-animation="fadeInDown" data-os-animation-delay="1.4s"> <a href="#"> <img src="images/KFC.png" alt=""/></a> </figure>
        </div>
        <div class="col-lg-6 col-md-8 col-sm-8 col-xs-6">
          <figure class="rest os-animation" data-os-animation="fadeInDown" data-os-animation-delay="1.6s"> <a href="#"><img src="images/papjohns.png" alt="" /></a> </figure>
        </div>
      </div>
      <!--row-->

      <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-8 col-xs-6">
          <figure class="rest os-animation" data-os-animation="fadeInDown" data-os-animation-delay="1.8s"> <a href="#"><img src="images/dominos.png" alt="" /></a> </figure>
        </div>
        <div class="col-lg-6 col-md-8 col-sm-8 col-xs-6">
          <figure class="rest os-animation" data-os-animation="fadeInDown" data-os-animation-delay="2s"> <a href="#"><img src="images/barista.png" alt="" /></a> </figure>
        </div>
      </div>
      <!--row-->

    </div>
    <!---col-->

    <div class="col-lg-8 col-md-8 col-sm-8">
      <div class="food">
        <h3 class="os-animation" data-os-animation="rollIn" data-os-animation-delay="2.5s">Top Cuisines</h3>
      </div>
      <div class="dotted7 os-animation" data-os-animation="bounceInRight" data-os-animation-delay="2.8s"></div>
      <div class="food1">
        <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <figure class="food os-animation" data-os-animation="fadeInDown
" data-os-animation-delay="3s"> <img src="images/pizz.png" alt=""/>
              <div class="order"> <a href="#">Cuisine Name</a> </div>
            </figure>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <figure class="food os-animation" data-os-animation="fadeInDown
" data-os-animation-delay="3.2s"> <img src="images/burgar.png" alt="" />
              <div class="order"> <a href="#">Cuisine Name</a> </div>
            </figure>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <figure class="food os-animation" data-os-animation="fadeInDown
" data-os-animation-delay="3.4s"> <img src="images/donelt.png" alt="" />
              <div class="order"> <a href="#">Cuisine Name</a> </div>
            </figure>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <figure class="food os-animation" data-os-animation="fadeInDown
" data-os-animation-delay="3.6s"> <img src="images/sup.png" alt="" />
              <div class="order"> <a href="#">Cuisine Name</a> </div>
            </figure>
          </div>
        </div>
      </div>
      <div class="food1">
        <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <figure class="food os-animation" data-os-animation="fadeInDown
" data-os-animation-delay="3.8s"> <img src="images/checken.png" alt=""/>
              <div class="order"> <a href="#">Cuisine Name</a> </div>
            </figure>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <figure class="food os-animation" data-os-animation="fadeInDown
" data-os-animation-delay="4s"> <img src="images/passta.png" alt=""/>
              <div class="order"> <a href="#">Cuisine Name</a> </div>
            </figure>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <figure class="food os-animation" data-os-animation="fadeInDown
" data-os-animation-delay="4.2s"> <img src="images/bhel.png" alt=""/>
              <div class="order"> <a href="#">Cuisine Name</a> </div>
            </figure>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <figure class="food os-animation" data-os-animation="fadeInDown
" data-os-animation-delay="4.4s"> <img src="images/past.png" alt=""/>
              <div class="order"> <a href="#">Cuisine Name</a> </div>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="saction6">
  <div class="container">
    <div class="row bg os-animation" data-os-animation="flash" data-os-animation-delay="1s">
      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="images">
          <h3 class="os-animation">Enjoy Exclusive Food <br />
            Order any of these</h3>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2">
        <div class="point">
          <p><span>&#10152;</span><a href="#"> Party Order</a></p>
          <p><span>&#10152;</span><a href="#">Home Made Food</a></p>
          <p><span>&#10152;</span><a href="#">Diet Food</a></p>
        </div>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-5">
        <figure class="imgs"> <img src="images/abc.png" alt="" /> </figure>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2">
        <div class="button"> <a href="#">Order Now</a> </div>
      </div>
    </div>
  </div>
</section>
<section class="saction7">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4  col-xs-12">
        <figure class="service os-animation" data-os-animation="fadeInDown" data-os-animation-delay="1s"> <img src="images/plan.png" alt=""/> </figure>
        <div class="det os-animation" data-os-animation="fadeInDown" data-os-animation-delay="1.3s">
          <h3>100% Service Guarantee </h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4  col-xs-12">
        <figure class="service os-animation" data-os-animation="fadeInDown" data-os-animation-delay="1.5s"> <img src="images/mak.png" alt="" /> </figure>
        <div class="det os-animation" data-os-animation="fadeInDown" data-os-animation-delay="1.8s">
          <h3>100% Service Guarantee </h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <figure class="service os-animation" data-os-animation="fadeInDown" data-os-animation-delay="2s"> <img src="images/kljj.png" alt=""/> </figure>
        <div class="det os-animation" data-os-animation="fadeInDown" data-os-animation-delay="2.3s">
          <h3>100% Service Guarantee </h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Start Contact info -->
<div class="contact-imfo-box">
  <div class="container">
    <div class="row">
      <div class="col-md-4 arrow-right">
        <i class="fa fa-volume-control-phone"></i>
        <div class="overflow-hidden">
          <h4>Phone</h4>
          <p class="lead">
            +01 123-456-4590
          </p>
        </div>
      </div>
      <div class="col-md-4 arrow-right">
        <i class="fa fa-envelope"></i>
        <div class="overflow-hidden">
          <h4>Email</h4>
          <p class="lead">
            yourmail@gmail.com
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <i class="fa fa-map-marker"></i>
        <div class="overflow-hidden">
          <h4>Location</h4>
          <p class="lead">
            800, Lorem Street, Canada
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Contact info -->

<!-- Start Footer -->
<footer class="footer-area bg-f">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <h3>About Us</h3>
        <p>Integer cursus scelerisque ipsum id efficitur. Donec a dui fringilla, gravida lorem ac, semper magna. Aenean rhoncus ac lectus a interdum. Vivamus semper posuere dui.</p>
      </div>
      <div class="col-lg-3 col-md-6">
        <h3>Subscribe</h3>
        <div class="subscribe_form">
          <form class="subscribe_form">
            <input name="EMAIL" id="subs-email" class="form_input" placeholder="Email Address..." type="email">
            <button type="submit" class="submit">SUBSCRIBE</button>
            <div class="clearfix"></div>
          </form>
        </div>
        <ul class="list-inline f-social">
          <li class="list-inline-item"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6">
        <h3>Contact information</h3>
        <p class="lead">Ipsum Street, Lorem Tower, Tornoto, Canada, 508000</p>
        <p class="lead"><a href="#">+01 2000 800 9999</a></p>
        <p><a href="#"> info@admin.com</a></p>
      </div>
      <div class="col-lg-3 col-md-6">
        <h3>Opening hours</h3>
        <p><span class="text-color">Monday: </span>Closed</p>
        <p><span class="text-color">Tue-Wed :</span> 9:Am - 10PM</p>
        <p><span class="text-color">Thu-Fri :</span> 9:Am - 10PM</p>
        <p><span class="text-color">Sat-Sun :</span> 5:PM - 10PM</p>
      </div>
    </div>
  </div>

  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p class="company-name">Copyright © Winter 2022, PIYUSH SINGLA, WEB322 NDD  <a href="#">Craving</a>
        </div>
      </div>
    </div>
  </div>

</footer>
<!-- End Footer -->

<!-- ALL JS FILES -->
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
  <!-- ALL PLUGINS -->
<script src="js/jquery.superslides.min.js"></script>
<script src="js/images-loded.min.js"></script>
<script src="js/isotope.min.js"></script>
<script src="js/baguetteBox.min.js"></script>
<script src="js/form-validator.min.js"></script>
  <script src="js/contact-form-script.js"></script>
  <script src="js/custom.js"></script>

</body>
</html>
